body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://img.freepik.com/vector-gratis/robot-explorador-superficie-planeta-alienigena-noche_107791-3969.jpg?w=900&t=st=1683486407~exp=1683487007~hmac=e0cd455b4f1b8c02d003694f32900c8cec1450df4caa6b185ca107c32e873daf) 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
