.cardsContainer{
    width: 100%;
    max-width: 1400px;
    display: flex;
   flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}