
.nameDetail {
    font-size: 24px;
    font-weight: bold;
  }
  
  .idDetail {
    font-size: 18px;
    color: #7645c6;
    font: bold;
  }
  
  .imageDetail {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 5px 0;
    border-radius: 20px;
  }
  .nameComponent{
  font-size: 50px;
  font-weight: bold;
  color: black;
  background-color: hsl(188, 62%, 65%);
  max-width: 60%;
  max-height: 1%;
  margin: auto;
  border-radius: 15px;

  }
  
  .genreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .genreContainer h3 {
    margin-bottom: 1px;
  }
  
  .genreContainer p {
    margin: 1px 0;
  }
  
  .genreContainer img {
    max-width: 200px;
    height: auto;
    margin: 2px 0;
  }
  
  .description {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 20px;
    width: 50%;
    margin: auto;
  }
  
  .platforms {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .platforms li {
    margin: 0 10px 10px 0;
    font-size: 18px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
  };
 
.platDetail{
    list-style: none;
};

.back{
    margin: auto;
    border-radius: 10px;
    background-color: #7645c6;
    font-size: small;
    color: black;
};
.genreTitle{
margin-bottom: 0px;
padding:0%;
}
  
  