.ppage{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  padding: 8px 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

}
.page{
  display: inline-block;
  border: 1px solid #ccc;
  background-color: hwb(265 28% 25%);
  color: hsl(0, 0%, 98%);
  font: bold;
  padding: 4px;
  text-decoration: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px
};

  