.botonHome {
    background-color: #4CAF50; /* color de fondo */
    color: rgb(0, 0, 0); /* color de texto */
    padding: 10px 40px; /* padding interno */
    text-align: center; /* centrado horizontal */
    display: inline-block; /* hace que el botón se comporte como un elemento en línea */
    font-size: 16px; /* tamaño de texto */
    margin: auto; /* margen exterior */
    cursor: pointer; /* muestra el cursor de selección */
    border-radius: 8px; /* bordes redondeados */
    transition: all 0.3s ease 0s; /* animación de transición */

  }
  
  button:hover {
    background-color: #3e8e41; /* color de fondo en hover */
   
  }


  .divLanding{
    background-image: url(https://img.freepik.com/vector-gratis/arcade-movil-juego-espacial-salto-astronauta_107791-14698.jpg?w=900&t=st=1683486651~exp=1683487251~hmac=2e3584ff0c86ddffc3ddb3abf80333e8a183b42f971031bb987f165bb0779539);
    background-size: cover;
   background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  };

  
  