
.navBar {
    display: flex;
    justify-content: space-around;
    background-color: #4fdd28;
    flex-direction: row;
    border: 1px solid greenyellow;
    border-radius: 15px;
    max-width: 50%;
    margin: auto;


};
.select{
    border-radius: 5px;
    background-color: #4fdd28;
    font: bold;
    color: black;
}
.link{
    text-decoration: none;
}